body {
    color: gold;
 background-color: black;
 text-align: center;
}

input {
    border-radius: 20px;
    height:40px;
    width:20px;
    padding: 8px 6px;
    margin: 10px 8px;
    color: rgb(92, 21, 3);
    background-color: #a89b82;
}
#solution {
    width:400px;
    color: grey;
    text-align: center;

}